{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      4
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-console": "off",
    "no-multiple-empty-lines": [
      "error", {
        "max": 1,
        "maxEOF": 1,
        "maxBOF": 0
      }
    ],
    "no-use-before-define": "error",
    "operator-assignment": "error",
    "prefer-template": "error",
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}
