/**
 * Titles
 */

.option-title {
    font-weight: bold;
}

/**
 * Controls
 */

.text-input {
    margin-left: 36px !important;
}

/**
 * Miscellaneous
 */

.option-description {
    font-style: italic;
    margin-bottom: 16px;
    padding-left: 36px;
}
