/**
* Sections
*/

body {
    background-color: #f0f0f0;
    color: #555;
    cursor: default;
    font-family: 'Noto Sans', Arial, sans-serif !important;
    font-size: 75%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 348px;
}

header {
    align-items: center;
    border-bottom: solid #d3d3d3 1px;
    display: flex;
    position: relative;
}

.panel {
    overflow: hidden;
    padding: 10px 8px;
}

.panel:not(:last-child) {
    border-bottom: 1px solid #d8d8d8;
}

.subpanel {
    overflow: hidden;
}

footer {
    overflow: hidden;
    padding: 8px;
}

/**
 * Fonts
 */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../modules/noto-sans/noto-sans.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../modules/noto-sans/noto-sans-bold.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../../modules/noto-sans/noto-sans-italic.woff2')
       format('woff2');
}

/**
 * Headings
 */

.heading {
    font-size: 14px;
    font-weight: 600;
    padding-left: 0;
}

.subheading {
    font-weight: 600;
    margin-bottom: 2px;
    text-align: center;
}

/**
 * Lists
 */

.list {
    margin: 0;
    padding: 8px 0 0;
}

.list-item {
    background-color: #f7f7f7;
    border: 1px solid #e4e4e4;
    color: #737373;
    font-weight: 600;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.sublist {
    align-items: center;
    background-color: #ececec;
    border: 1px solid #e0e0e0;
    box-shadow: inset 0px 2px 10px #e2e2e2;
    list-style: none;
    padding-left: 8px;
    padding: 0;
}

.sublist:last-child {
    border-bottom: 1px solid #e0e0e0;
}

.sublist-item {
    border-bottom: 1px solid #e0e0e0;
    color: #737373;
    font-weight: 600;
    padding: 10px;
}

.sublist-item:last-child {
    border-bottom: none;
}

/**
 * Icons
 */

.icon {
    margin-right: 6px;
}

.icon-logo {
    height: 26px;
    padding: 14px 6px 14px 8px;
    width: 26px;
}

/**
 * Buttons
 */

.button {
    -moz-user-select: none;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #cfcfcf;
    color: #5f5f5f;
    cursor: pointer;
    float: right;
    font-size: 12px;
    padding: 5px 22px;
    user-select: none;
}

.button:hover {
    background-color: #fff;
}

.button:active {
    background-color: #dedede;
}

.button-toggle {
    border-color: #d8d8d8;
    color: #bbb;
}

.button-toggle.active {
    border-color: #cfcfcf;
    color: #339a6f;
}

/**
* Links
*/

.link-text {
    color: #bdbdbd;
    cursor: pointer;
    float: left;
    font-size: 13px;
    padding-left: 4px;
    padding-top: 5px;
    text-decoration: none;
}

.link-text:hover {
    color: #777;
    text-decoration: underline;
}

/**
 * Miscellaneous
 */

.badge {
    background-color: #6bb798;
    border-radius: 10px;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    font-weight: 600;
    margin-right: 8px;
    padding: 3px 15px;
}

.counter {
    font-size: 36px;
    font-weight: 600;
    margin-top: 4px;
    text-align: center;
}

.description {
    color: #777;
    font-style: italic;
    margin: 0 6px;
    text-align: center;
}

.hidden {
    display: none;
}

.label-beta {
    color: #6aac91;
    font-size: 9px;
}

.label-domain {
    color: #bbb;
    display: flex;
    font-style: italic;
    overflow: hidden;
    padding: 6px 0 0 4px;
    white-space: nowrap;
}

.side-note {
    color: #a5a5a5;
    font-style: italic;
    font-weight: 400;
}
