body {
    background-color: #f0f0f0;
    color: #555;
    cursor: default;
    font-family: Noto Sans, Arial, sans-serif !important;
    font-size: 75%;
    margin: 0;
    padding: 0;
    user-select: none;
    width: 350px;
}

h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

.title {
    font-weight: bold;
    margin-bottom: 2px;
    text-align: center;
}

.description {
    color: #777;
    font-style: italic;
    margin-bottom: 18px;
    text-align: center;
}

.popup-content {
    padding: 0;
}

.list {
    border-bottom: 1px solid #d8d8d8;
    margin: 0;
    padding: 10px 8px;
}

.list-item {
    background-color: #f7f7f7;
    border-bottom: none !important;
    border: 1px solid #e4e4e4;
    color: #737373;
    font-weight: 600;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.sub-list {
    align-items: center;
    background-color: #ececec;
    border-bottom: none !important;
    border: 1px solid #e0e0e0;
    box-shadow: inset 0px 2px 10px #e2e2e2;
    list-style: none;
    padding-left: 8px;
    padding: 0;
}

.sub-list:last-child {
    border-bottom: 1px solid #e0e0e0 !important;
}

.sub-list-item {
    border-bottom: 1px solid #e0e0e0;
    color: #737373;
    font-weight: bold;
    padding: 10px;
}

.sub-list-item:last-child {
    border-bottom: none;
}

.side-note {
    color: #a5a5a5;
    font-style: italic;
    font-weight: normal;
}

.badge {
    background-color: #6bb798;
    border-radius: 10px;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
    margin-right: 8px;
    padding: 3px 15px;
}

.button-panel {
    padding: 6px;
    text-align: right;
}

.btn-sm {
    font-size: 12px !important;
}

.text-link {
    color: #bdbdbd;
    float: left;
    font-size: 13px;
    padding-left: 4px;
    padding-top: 2px;
    text-decoration: none;
}

.text-link:hover {
    color: #777;
    text-decoration: underline;
}

#injection-counter {
    padding-top: 14px;
}

#extension-options-overlay-header {
    align-items: center;
    border-bottom: solid lightgray 1px;
    display: flex;
    padding: 4px 0;
    position: relative;
}

#extension-options-overlay-icon {
    padding: 8px;
}

#extension-options-overlay-icon {
    height: 32px;
    width: 32px;
}

#extension-options-overlay-title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 0;
}

:enabled:hover:-webkit-any(
    select,
    input[type='checkbox'],
    input[type='radio'],
    :-webkit-any(
        button,
        input[type='button'],
        input[type='submit']):not(.custom-appearance)) {
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12),
    inset 0 1px 2px rgba(255, 255, 255, 0.95);
    color: black;
}

:enabled:active:-webkit-any(
    select,
    input[type='checkbox'],
    input[type='radio'],
    :-webkit-any(
        button,
        input[type='button'],
        input[type='submit']):not(.custom-appearance)) {
    background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    box-shadow: none;
    text-shadow: none;
}

:enabled:focus:-webkit-any(
    select,
    input[type='checkbox'],
    input[type='number'],
    input[type='password'],
    input[type='radio'],
    input[type='search'],
    input[type='text'],
    input[type='url'],
    input:not([type]),
    :-webkit-any(
        button,
        input[type='button'],
        input[type='submit']):not(.custom-appearance)) {
    /* OVERRIDE */
    -webkit-transition: border-color 200ms;
    /* We use border color because it follows the border radius (unlike outline).
     * This is particularly noticeable on mac. */
    border-color: rgb(77, 144, 254);
    outline: none;
}

:-webkit-any(button,
             input[type='button'],
             input[type='submit']):not(.custom-appearance),
select,
input[type='checkbox'],
input[type='radio'] {
    -webkit-appearance: none;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08),
    inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: #444;
    font: inherit;
    margin: 0 1px 0 0;
    outline: none;
    text-shadow: 0 1px 0 rgb(240, 240, 240);
}

:-webkit-any(button,
             input[type='button'],
             input[type='submit']):not(.custom-appearance),
select {
    min-height: 2em;
    min-width: 4em;
    padding-top: 1px;
    padding-bottom: 1px;

}

:-webkit-any(button,
             input[type='button'],
             input[type='submit']):not(.custom-appearance) {
    -webkit-padding-end: 10px;
    -webkit-padding-start: 10px;
}
